* {
  list-style: none
}
.flex-container {
    display: flex;
    margin-top:50px;
  }
.alphabet {
  height:50px;
  line-height:50px;
  cursor: pointer;
}
.alphabet ul li {
    margin-right: 30px;
    font-size: 15px;
    float: left;
}